/*  Strip unit
============================================ */
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

/*  Font Size (px, em, rem)
============================================ */
@mixin font-size($size, $line: 1) {
    
    $px: $size * 1px;
    $em: em($size, strip-unit($base-font-size));
    $rem: ($size/16) * 1rem;

    font-size: $px;
    font-size: $em; // Probably not needed
    font-size: $rem;

    line-height: $line * 1em;
}
// @include font-size(68, {OPTIONAL});