// Site Dimensions
$super-width: em(1280); // 80em
$base-width: em(960); // 60em
$tablet-width: em(720); // 45em
$mobile-landscape-width: em(480); // 30em
$mobile-portrait-width: em(320); // 20em

// Base
$rem-base: 16px !default;
$base-font-size: 100% !default; // $base-font-size is 16px
$base-line-height: 100% !default; // $base-line-height is 24px if 150%

// Headings
$header-line-height: 1.4 !default;
$header-top-margin: .2rem !default;
$header-bottom-margin: .5rem !default;

$h1-font-size: 44 !default;
$h2-font-size: 36 !default;
$h3-font-size: 26 !default;
$h4-font-size: 22 !default;
$h5-font-size: 18 !default;
$h6-font-size: 16 !default;

// Paragraphs
$small-font-size: 10 !default;
$paragraph-font-size: 18 !default;
$paragraph-lead-font-size: 20 !default;
$paragraph-bottom-margin: .5rem !default;
$paragraph-lead-bottom-margin: 1rem !default;

// Lists
$list-bottom-margin: .5rem !default;
$list-disc-left-margin: .5rem !default;

// Blockquotes
$blockquotes-font-size: 21 !default;

// container and column classes for simplegrid
$container-class: 'row'; // defaults to [data-layout="grid"]
$column-class: 'columns'; // defaults to [data-columns="$"]
$number-of-columns: 6; // max number of columns
$layout: 'float'; // float, ib, flex; defaults to float

// fonts - core/_fonts.scss
$body-font: 'Brandon Grotesque', helvetica, sans-serif; // bourbon font stacks
$header-font: 'Brandon Grotesque', $body-font; // bourbon font stacks

// Type color
$light-grey: #f5f5f5;
$dark-grey: #333;

// theme colors
$theme-color: #637838; // null
$accent-color: darken($theme-color, 10); // That is, 10% darker than the theme-color.

// Animation Variables
$duration: .35s; // was .15, upped for hero transition - or change via js
$delay: .2s;
$transition: all $duration cubic-bezier(0.2, .4, .1, 1); // thumbnail animations