// Site Dimensions
$super-width: 1140px;
$base-width: 960px;
$tablet-width: 720px;
$mobile-portrait-width: 320px;
$mobile-landscape-width: 480px;

$base-font-size: 100% !default; // $base-font-size is 16px
$base-line-height: 100% !default; // $base-line-height is 24px if 150%
$header-line-height: 1.4 !default;

// container and column classes for simplegrid
$container-class: '.container'; // defaults to [data-layout="grid"]
$column-class: '.columns'; // defaults to [data-columns="$"]
$space: 1; // The global spacing between columns in %, can be set inline
$count: 4; // default number of columns in grid, can be set inline
$number-of-columns: 6; // max number of columns

// fonts - core/_fonts.scss
$body-font: 'Open Sans', helvetica, sans-serif; // bourbon font stacks
$header-font: 'Maven Pro', $body-font; // bourbon font stacks

// Type color
$light-grey: #f5f5f5;
$dark-grey: #333;

// theme colors
$theme-color: #fc3b3b; // #e74c3c
$accent-color: darken($theme-color, 10); // That is, 10% darker than the theme-color.

// Animation Variables
$duration: .35s; // was .15, upped for hero transition - or change via js
$delay: .2s;
$transition: all $duration cubic-bezier(0.2, .4, .1, 1); // thumbnail animations