/*  Buttons
============================================ */
@mixin btn($color:#000) {
    @extend %ib;
    background: $color;
    color: white;

    // override <button>'s
    border: none;
    user-select: none;
    appearance: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;

    &:hover{
        background: darken($color, 10);
        color: white;
    }
}

%btn {
    @include btn();
}

.btn{
    @extend %btn;
    margin-bottom: 1%;

    &.success {
        @include btn(#2ecc71);
        color: white;
    }
    &.info {
        @include btn(#3498DB);
        color: white;
    }
    &.warning {
        @include btn(#fcf8e3);
        color: #504E41;
        &:hover {
            color: #504E41;
        }
    }
    &.error {
        @include btn(#e74c3c);
        color: white;
    }

    &.twitter {
        @include btn(#29a7de);
    }
    &.facebook {
        @include btn(#305891);
    }
    &.dribbble {
        @include btn(#ce3b72);
    }
    &.instagram {
        @include btn(#bbb);
    }
    &.linkedin {
        @include btn(#4392cc);
    }
    &.tumblr {
        @include btn(#2d4561);
    }
    &.google-plus {
        @include btn(#ce4630);
    }
    &.pinterest {
        @include btn(#c3282c);
    }

    &.white {
        @include btn(white);
        color: #444;
    }

    &.square {
        border-radius: 0;
    }

    &.small {
        font-size: .8rem;
    }

    &.medium {
        font-size: .9rem;
    }
    &.large {
        font-size: 1rem;
    }
}