.full-width-section {

    @extend %ib;
    width: 100%;
    max-width: 100%;
    background-size: cover;
    box-sizing: content-box!important;
    margin: 0;
    padding: 5rem 50%;
    position: relative;
    z-index: 0;


    @media (max-width: 400px) { 
        max-width: 330px;
    }

	blockquote {
		padding: 0;
	}
}